{% extends 'DashboardBundle:Default:layout.html.twig' %}
{% block body %}
    {#{{ form(monForm }}#}
    {#GENERE LE FORM COMPLET#}
    {{ form_start(monForm) }}
    {#{{ form_start(monForm, {'attr':{ 'novalidate':'novalidate' }}) }}#}
    {#<div class="form-group">#}
    {#{{ form_row(monForm.bookName) }}#}
    {#{{ form_widget(monForm.bookName,{'attr':{'class':'form-control','placeholder':'Votre nom'}}) }}#}
    {#</div>#}
    {#<div class="form-group">#}
    {#{{ form_row(monForm.publish_date) }}#}
    {#{{ form_errors(monForm.publishDate) }}#}
    {#{{ form_label(monForm.chapters_number, 'Date publication', {'attr':{'class':''}}) }}#}
    {#{{ form_row(monForm.chapters_number) }}#}
    {#{{ form_row(monForm.pages_number) }}#}
    {#{{ form_row(monForm.cover) }}#}
    {#</div>#}
    {#{{ form_widget(monForm.submit, {'attr':{'class':'btn, btn-default'}}) }}#}
    {{ form_end(monForm) }}
{% endblock body %}